.field {
  font-size: 14px;
  margin-bottom: 1em;
}

.field label {
  display: block;
  margin: 0 0 5px 0;
  color: #222;
  font-weight: 700;
}

.field input {
  background-color: #fff;
  padding: 10px 15px;
  border: 1px solid rgb(34,34,34, 0.15);
  outline: 1px solid unset;
  outline-color: rgba(0, 132, 255, 0.733);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}